body    {
    background-image: repeating-radial-gradient( circle at 0 0, blue, white);

  
}

header  {
    background: rgb(185, 213, 241);
    font-style: bold;
    font-size: 20px;
    padding: 5px 15px;
    border: 3px;
    width: 350px;
    color: rgb(114, 195, 233);
    margin: 10px;
}

#random {
    background: white;
    color: blue;
    font-size: 20px;
    width: 220px;
}

.win-score  {
    background: rgb(33, 35, 148);
    color: white;
    font-size: 20px;
    width: 150px;
    
}

.loss-score  {
    background: rgb(33, 35, 148);
    color: white;
    font-size: 20px;
    width: 150px;
    
}

.guesses    {
    background: white;
    color: blue;
    font-size: 20px;
    width: 220px;
}

section {
    color: rgb(204, 178, 245);
    font: bolder;
    margin: 10px;
    
}

#img1   {
    width: 15%;
    height: auto;


}

#img2   {
    width: 11%;
    height: auto;
}

#img3   {
    width: 10%;
    height: auto;
}

#img4   {
    width: 10%;
    height: auto;
}